<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="register-user-app">
  <link rel="import" type="css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>

    <!-- Registro exitoso -->
    <div class="container" hidden$={{!successRegister}}>
      <div class="row justify-content-md-center">
        <span>¡Se ha creado su usuario correctamente!</span>
      </div>

      <div class="row justify-content-md-center">
        <a class="btn btn-primary" href="index.html" role="button">Inicio</a>
      </div>
    </div>
    <!-- Registro exitoso -->

    <div class="container" hidden={{successRegister}}>

      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <h1>Registro de nuevo usuario</h1>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <form>

          <div class="form-group">
            <label for="inputName">Nombre</label>
            <input type="text" class="form-control" id="inputName" value="{{name::input}}">
          </div>

          <div class="form-group">
            <label for="inputLastname">Apellido</label>
            <input type="text" class="form-control" id="inputLastname" value="{{lastname::input}}">
          </div>

          <div class="form-group">
            <label for="inputEmail">Correo eléctronico</label>
            <input type="email" class="form-control" id="inputEmail" value="{{email::input}}">
          </div>

          <div class="form-group">
            <label for="inputPassword">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword" value="{{password::input}}">
          </div>

          <div class="form-group">
            <button on-click="register" type="button" class="btn btn-primary btn-block">Registrarse</button>
          </div>
        </form>
      </div>

    </div>

    <iron-ajax
      id="doRegister"
      url="http://localhost:3000/Users"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method='POST'
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegisterUserApp extends Polymer.Element {
      static get is() { return 'register-user-app'; }
      static get properties() {
        return {
          name: {
            type: String
          },
          lastname: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          successRegister: {
            type: Boolean,
            value: false
          }
        };
      }

      register(){
        var userData = {"name": this.name, "lastname": this.lastname, "email": this.email, "password": this.password};
        this.$.doRegister.body = JSON.stringify(userData);
        this.$.doRegister.generateRequest();
        console.log('Petición enviada');
      }

      manageAJAXResponse(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
        this.successRegister = true;
      }

      showError(error){
        console.log('Hubo un error');
        alert('Se presento un error al registrar el usuario, intente de nuevo');
        console.log(error);
      }

    }

    window.customElements.define(RegisterUserApp.is, RegisterUserApp);
  </script>

</dom-module>
