<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <link rel="import" type="css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container" hidden$={{logado}}>

      <div class="row justify-content-md-center">
      	<h1>Inicio de Sesión</h1>
      </div>

      <div class="row justify-content-md-center">
        <form>
          <div class="form-group">
            <label for="inputEmail">Correo electrónico</label>
            <input type="email" class="form-control" id="inputEmail" value="{{email::input}}">
          </div>

          <div class="form-group">
            <label for="inputPassword">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword" value="{{password::input}}">
          </div>

          <div class="form-group">
            <button on-click="login" type="button" class="btn btn-primary btn-block">Iniciar Sesión</button>
          </div>
        </form>
      </div>


      <div class="row justify-content-md-center">
        <p>Si no tienes usuario, ¡registrate!</p>
      </div>
      <div class="row justify-content-md-center">
        <a class="btn btn-link" href="userRegister.html" role="button">Da clic aquí para registrarte</a>
      </div>

    </div>

    <!-- Welcome page -->
    <div class="container" hidden$={{!logado}}>

      <!-- FX section with API exchangeratesapi -->
      <div class="input-group mb-3" hidden$={{showFormMov}}>
        <div class="input-group-prepend">
          <button on-click="getFX" class="btn btn-outline-secondary" type="button">Consultar precio de divisa</button>
        </div>
        <select class="custom-select" id="inputGroupSelect03" value="{{currency::input}}">
          <option selected>Selecciona una divisa...</option>
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
        </select>

      </div>

      <div class="alert alert-primary" role="alert" hidden$={{!showFX}}>
        <p class="card-text">Fecha: {{fx.date}}</p>
        <p class="card-text">$ {{fx.rates.MXN}} MXN </p>
      </div>
      <!-- End FX section with API exchangeratesapi -->

      <div class="card" hidden$={{showFormMov}}>
        <div class="card-header">
          <h3>Bienvenido(a) {{user.0.name}} a la aplicación</h3>
        </div>
        <div class="card-body">
          <p class="card-text">Para obtener información de tus cuentas y sus movimientos o dar de alta una nueva cuenta, dar clic en alguno de los siguientes botones</p>
          <button on-click="getAccounts" type="button" class="btn btn-primary">Ver cuentas y movimientos</button>
          <button on-click="getFormAcc" type="button" class="btn btn-primary">Registrar nueva cuenta</button>
        </div>
      </div>

      <div class="card" hidden$={{!showAccounts}}>
        <div class="card-header">
          <h4>Mis cuentas</h4>
          <button on-click="getFormMov" type="button" class="btn btn-primary">Agregar movimiento</button>
        </div>
        <div class="card-body">
          <template is="dom-repeat" items="{{accounts}}" as="account">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Número de cuenta: {{account.numberAccount}}</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p class="mb-1">Movimientos</p>
                </li>
                <template is="dom-repeat" items="{{account.movements}}" as="movement" index-as="movement_no">
                  <li class="list-group-item">
                    <p class="mb-1"><b>{{movement.type}}</b></p>
                    <p class="mb-1">Fecha: {{movement.date}}</p>
                    <p class="mb-1">Monto: ${{movement.amount}}</p>
                  </li>
                </template>
              </ul>
            </div>
          </template>
        </div>
      </div>

      <!-- Form to add a new movement into an account -->
      <div class="container" hidden$={{!showFormMov}}>
        <div class="row">
          <button on-click="backHome" type="button" class="btn btn-secondary">Regresar al inicio</button>
        </div>

        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <h1>Registro de movimiento</h1>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <form>

            <div class="form-group">
              <label for="inputAccount">Cuenta</label>
               <select class="form-control" id="inputAccount" value="{{accountInput::input}}">
                 <template is="dom-repeat" items="{{accounts}}" as="account">
                   <option value="{{account.numberAccount}}">{{account.numberAccount}}</option>
                 </template>
              </select>
            </div>

            <div class="form-group">
              <label for="inputDate">Fecha</label>
              <input type="date" class="form-control" id="inputDate" value="{{date::input}}">
            </div>

            <div class="form-group">
              <label for="inputAmount">Importe</label>
              <input type="number" class="form-control" id="inputAmount" value="{{amount::input}}">
            </div>

            <div class="form-group">
              <label for="inputType">Tipo</label>
               <select class="form-control" id="inputType" value="{{movtype::input}}">
                 <option value="cargo">Cargo</option>
                 <option value="abono">Abono</option>
              </select>
            </div>

            <div class="form-group">
              <button on-click="addMovement" type="button" class="btn btn-primary btn-block">Registrar movimiento</button>
            </div>
          </form>
        </div>

      </div>
      <!-- End form to add a new movement into an account -->

      <!-- Form to add a new account to user -->
      <div class="container" hidden$={{!showFormAcc}}>

        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <h1>Registro de una cuenta</h1>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <form>

            <div class="form-group">
              <label for="inputNumberAccount">Número de cuenta</label>
              <input type="text" class="form-control" id="inputNumberAccount" value="{{numberAccount::input}}">
            </div>

            <div class="form-group">
              <button on-click="addAccount" type="button" class="btn btn-primary btn-block">Registrar cuenta</button>
            </div>

          </form>
        </div>

      </div>
      <!-- End form to add a new account to user -->

    </div>
    <!-- End welcome page -->

    <!-- Do Login -->
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/Login"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method='POST'
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"
    </iron-ajax>

    <!-- Do Get Accounts and movements -->
    <iron-ajax
      id="doGetAccounts"
      url="http://localhost:3000/Accounts/{{email}}"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method='GET'
      handle-as="json"
      headers= '{{headersJWT}}'
      on-response="manageAJAXResponseGetAccounts"
      on-error="showErrorGetAccounts"
    </iron-ajax>

    <!-- Do Get FX -->
    <iron-ajax
      id="doGetFX"
      url="https://api.exchangeratesapi.io/latest?base={{currency}}&symbols=MXN"
      handle-as="json"
      last-response="{{fx}}"
    </iron-ajax>

    <!-- Add a new movement into an account -->
    <iron-ajax
      id="doAddMovement"
      url="http://localhost:3000/Accounts/{{email}}/{{accountInput}}"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method='PUT'
      handle-as="json"
      headers='{{headersJWT}}'
      on-response="manageAJAXResponseAddMov"
      on-error="showErrorAddMov"
    </iron-ajax>

    <!-- Add a new account to user -->
    <iron-ajax
      id="doAddAccount"
      url="http://localhost:3000/Accounts"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method='POST'
      handle-as="json"
      headers='{{headersJWT}}'
      on-response="manageAJAXResponseAddAcc"
      on-error="showErrorAddAcc"
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          showAccounts:{
            type: Boolean,
            value: false
          },
          showFX:{
            type: Boolean,
            value: false
          },
          showFormMov:{
            type: Boolean,
            value: false
          },
          showFormAcc:{
            type: Boolean,
            value: false
          },
          token: {
            type: String
          },
          headersJWT: {
            type: String
          },
          user:{
            type: Array
          },
          accounts: {
            type: Array
          },
          currency: {
            type: String,
            value: 'USD'
          },
          fx: {
            type: Object
          },
          accountInput:{
            type: String,
            value: ''
          },
          date: {
            type: String
          },
          amount: {
            type: Number
          },
          movtype: {
            type: String,
            value: ''
          },
          numberAccount: {
            type: String
          }
        };
      }

      login(){

        var loginData = {"email": this.email, "password": this.password};
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log('Petición enviada');

      }

      manageAJAXResponse(data){

        console.log('Respuesta recibida del servidor')
        console.log(data.detail.response)

        this.token = data.detail.response.token
        this.user = data.detail.response.user
        this.headersJWT = {"Access-Control-Allow-Headers": "*", "access-token": data.detail.response.token}
        console.log('Estos son los headers: ' + this.headersJWT)
        this.logado = true;

      }

      showError(error){
        console.log('Hubo un error')
        alert('Datos ingresados incorrectos, por favor verifique')
        console.log(error)
      }

      getAccounts(){

        this.$.doGetAccounts.generateRequest()
        this.showFormAcc = false
        console.log('Consulta enviada')

      }

      manageAJAXResponseGetAccounts(data){

        console.log('Respuesta recibida del servidor')
        console.log(data.detail.response)
        this.accounts = data.detail.response
        this.showAccounts = true

      }

      showErrorGetAccounts(error){

        console.log('Hubo un error')
        alert('Hubo un error al obtener las cuentas, intantalo de nuevo')
        console.log(error)

      }

      getFX(){

        this.$.doGetFX.generateRequest()
        console.log('Consulta de FX enviada')
        this.showFX = true

      }

      getFormMov(){

        this.showFormMov = true
        this.showAccounts = false
        this.showFX = false

      }

      getFormAcc(){

        this.showFormAcc = true
        this.showAccounts= false
        this.showFX = false
      }

      backHome(){

        this.showFormMov = false
        this.showFormAcc = false

      }

      addMovement(){

        var addMovData = {"movements": {"date": this.date, "amount": this.amount, "type": this.movtype}};
        this.$.doAddMovement.body = JSON.stringify(addMovData);
        this.$.doAddMovement.generateRequest();
        console.log('Petición de registro de movimiento enviada');

      }

      manageAJAXResponseAddMov(data){

        console.log('Respuesta recibida del servidor')
        console.log(data.detail.response)
        this.showFormMov = false

      }

      showErrorAddMov(error){

        console.log('Hubo un error')
        alert('Hubo un error al insertar el nuevo movimiento, intantalo de nuevo')
        console.log(error)

      }

      addAccount(){

        var addAccData = {"email": this.email, "numberAccount": this.numberAccount};
        this.$.doAddAccount.body = JSON.stringify(addAccData);
        this.$.doAddAccount.generateRequest();
        console.log('Petición de registro de cuenta enviada');

      }

      manageAJAXResponseAddAcc(data){

        this.showFormAcc = false
        this.numberAccount = ''
        console.log('Respuesta recibida del servidor')
        alert('Se registro correctamente la cuenta')
        //console.log(data.detail.response)


      }

      showErrorAddAcc(error){

        console.log('Hubo un error')
        alert('Hubo un error al insertar la cuenta, intantalo de nuevo')
        console.log(error)

      }

    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>

</dom-module>
